{% extends 'base.html.twig' %}

{% block title %}First !{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h3>{{ author.username | upper }}</h3>
        <p>Email: {{ author.email }}</p>
        <p>Number of books : {{ author.nb_books }}</p>
        <img src="{{ asset(author.picture) }}" alt="Example"/>
    </div>
{% endblock %}
